# System files
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
venv/
ENV/
*.egg-info/
.ipynb_checkpoints/

# Excel backups
~$*.xls*
*.bak

# VS Code
.vscode/

# Logs
*.log

